

a h3{
    margin-top: 8px;
    font-size: 16px;
    color: #403447;

}

body{
    margin: 0!important;
}
.purple-backcolor{
    background-color: #403447;
}
.purple-color{
    color: #403447;
}
.light-purple-color{
    color:#78617D !important;
}
.orange-color{
    background-color: #ef5258;
}

.orange-border{
    border: 1px solid #ef5258;
}

.orange-text{
    color: #ef5258;
}


/*Nav*/


.nav-style {
    background-color: rgb(12, 31, 81); !important;
}

.nav-style:hover {
    background-color: white !important;
}
.nav-style:hover .nav-li-line {
    visibility: visible;
}
.nav-style:hover .nav-btn {
    visibility: visible;
}


.nav-style:hover .collapse ul li a {
    color: rgb(15 75 161) !important;
}

.nav-style:hover .collapse ul li a:hover {
    color: rgb(41 201 255) !important;
}

.collapse ul li a {
    color: #403447 !important;
    /*font-weight: bold;*/
}

.navbar {
    box-shadow: 0 0 0;
    font-size: 14px;
}


.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #ef5258!important;
}



.nav-btn{
    position: absolute;
    background-color: #ef5258;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    right: 40px;
    display:block;
    color:#fff!important;
    text-align:center;
    width:160px;
    height: 42px;
    top: 18px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
}

.nav-btn-line{
    position: absolute;
    background-color: #fff;
    border: 1px solid #ef5258;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 20px;
    display:block;
    color:#ef5258!important;
    text-align:center;
    width:50px;
    height: 38px;
    top: 15px;
    font-weight: bold;
    font-size: 13px;
    padding-top: 9px;
}


.nav-btn-line:hover{
    background: #ef5258;
    color:#fff!important;

}




.nav-btn-category{
    margin: 15px;
    background-color: #fff;
    border: 1px solid #ef5258;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color:#ef5258!important;
    text-align:center;
    width:160px;
    height: 80px;
    top: 14px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}



.nav-btn-category i{
    font-size: 20px!important;
}

.nav-btn-category:hover{
    background: linear-gradient(to top right, #403447, deepskyblue);
    color:#fff!important;
    border: 1px solid #fff;

}


.nav-btn-category:hover h3{
    color:#fff;
}

.nav-li-line{
    border-left: solid 1px rgb(224 229 240);
    top: 0px;
    height: 50px;
}
.letter-s2{
    letter-spacing: 2px;
}

.tabs ul li:hover {
    background-color: rgb(247 249 253);
}
/*End Nav*/
/* carosel-avarar*/
.columns {
    margin-top: 0;
}

.section {
    background-color: #ffffff;
    min-height: 40vh;
    position: relative;
}

.section .card {
    border-radius: 6px;
    overflow: hidden;
    max-width: 400px;
    max-height: 480px;
    margin: 0 auto;


}

.section .card .header {
    height: 120px;
    background: #403447;
}

.section .card .header .avatar {
    width: 80px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.section .card .header .avatar img {
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -55px;
    border: 4px solid white;
    height: 110px;
}

.section .card .card-body {
    padding: 50px;
    margin-top: 10px;
}

.section .card .card-body .user-meta {
    padding-top: 20px;
}

.section .card .card-body .user-meta .username {
    font-size: 18px;
    font-weight: 600;
}

.section .card .card-body .user-meta .position {
    font-size: 90%;
    color: #403447;
}

.section .card .user-bio {
    padding-top: 8px;
    font-size: 92%;
    color: #999;
}

.section .card .action {
    padding-top: 20px;
}

.section .card .action .button {
    padding: 16px 20px 16px 20px;
    background: #ef5258;
    border-color: #ef5258;
    color: white;
    border-radius: 100px;
    transition: opacity .3s;
}

.section .card .action .button:hover {
    opacity: 0.7;
}
.row-color{
    background-color: #ffffff;
}
.prev-img{
    right: -25px;
    top: 125px
}
.next-img{
    left: -25px;
    top: 125px
}
/*End carosel-avatar*/
/*footer*/
.footer-line{
    border-bottom: 1px solid #78617D ;
}
.footer-sotial-span{
    background-color: white;
    border-radius: 5px;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 500;
    margin-left: 179px
}
.list li {
    float: left;
}

.list li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 6px;
}
/*end footer*/
@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media only screen and (max-width: 980px) {
    .list {
        margin-left: 20px
    }
    .nav-btn {
        position: inherit;
    }
    .navbar-toggler{
        border: 1px solid #0C1F51 !important;
        background-color:#0C1F51;
    }

    .nav-li-line {
        visibility: hidden !important;
    }

}
